<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example Project: List of Shakespeare's Works</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

<div class="jumbotron">
  <h1>Shakespeare's Works</h1>
</div>
<table class="table">
	<thead>
	<tr>
		<th>Title</th>
		<th>Year</th>
		<th>Number of Words</th>
	</tr>
	</thead>
	<tbody>
	{% for work in works %}
		<tr>
			<td><a href="work/{{work.workid}}">{{work.longtitle}}</a></td>
			<td>{{work.year}}</td>
			<td>{{work.totalwords}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>