<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas' mini-Reddit</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

<div class="jumbotron">
  <h1>Users and Subreddits</h1>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table">
			<thead>
			<h1>Users with 10+ posts</h1>
			<tr>
				<th>Username</th>
				<th>Number of Posts</th>
			</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td><a href="user/{{user.name}}">{{user.name}}</a></td>
					<td>{{user.posts}}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<table class="table">
			<thead>
			<h1>Subreddits</h1>
			<tr>
				<th>Subreddits</th>
			</tr>
			</thead>
			<tbody>
			{% for sub in subs %}
				<tr>
					<td><a href="subreddit/{{sub.subs}}">{{sub.subs}}</a></td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>